USE [master]
GO
/****** Object:  Database [SQLomen]    Script Date: 10.10.2023 23:27:02 ******/
CREATE DATABASE [SQLomen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLomen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLOMEN\MSSQL\DATA\SQLomen.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLomen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLOMEN\MSSQL\DATA\SQLomen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLomen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLomen]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 10.10.2023 23:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[akaryakit]    Script Date: 10.10.2023 23:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[akaryakit](
	[akaryakit_id] [int] NOT NULL,
	[akaryakit_isim] [nvarchar](50) NOT NULL,
	[akaryakit_fiyat] [money] NOT NULL,
	[akaryakit_fiyat_tarih] [date] NOT NULL,
	[litre_miktari] [int] NULL,
 CONSTRAINT [PK_akaryakit] PRIMARY KEY CLUSTERED 
(
	[akaryakit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[depo_akaryakit]    Script Date: 10.10.2023 23:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[depo_akaryakit](
	[depo_id] [int] NOT NULL,
	[akaryakit_id] [int] NOT NULL,
	[akaryakit_hacim] [int] NOT NULL,
	[akaryakit_isim] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_depo_akaryakit] PRIMARY KEY CLUSTERED 
(
	[depo_id] ASC,
	[akaryakit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri_bilgi]    Script Date: 10.10.2023 23:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri_bilgi](
	[kullanici_id] [int] NOT NULL,
	[isim] [nvarchar](50) NOT NULL,
	[kullanici_araba] [nvarchar](50) NOT NULL,
	[kullanici_plaka] [nvarchar](50) NOT NULL,
	[akaryakit_id] [int] NOT NULL,
 CONSTRAINT [PK_musteri_bilgi] PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_musteri_bilgi] UNIQUE NONCLUSTERED 
(
	[kullanici_plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[musteri_kayit]    Script Date: 10.10.2023 23:27:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[musteri_kayit](
	[kayit_id] [int] IDENTITY(600,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[kayit_araba] [nvarchar](50) NOT NULL,
	[kayit_plaka] [nvarchar](50) NOT NULL,
	[kayit_kullanilacak_akaryakit] [int] NOT NULL,
 CONSTRAINT [PK_musteri_kayit] PRIMARY KEY CLUSTERED 
(
	[kayit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_musteri_kayit] UNIQUE NONCLUSTERED 
(
	[kayit_plaka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_musteri_kayit_1] UNIQUE NONCLUSTERED 
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[depo_akaryakit]  WITH CHECK ADD  CONSTRAINT [FK_depo_akaryakit_akaryakit] FOREIGN KEY([akaryakit_id])
REFERENCES [dbo].[akaryakit] ([akaryakit_id])
GO
ALTER TABLE [dbo].[depo_akaryakit] CHECK CONSTRAINT [FK_depo_akaryakit_akaryakit]
GO
ALTER TABLE [dbo].[musteri_bilgi]  WITH CHECK ADD  CONSTRAINT [FK_musteri_bilgi_akaryakit] FOREIGN KEY([akaryakit_id])
REFERENCES [dbo].[akaryakit] ([akaryakit_id])
GO
ALTER TABLE [dbo].[musteri_bilgi] CHECK CONSTRAINT [FK_musteri_bilgi_akaryakit]
GO
ALTER TABLE [dbo].[musteri_kayit]  WITH CHECK ADD  CONSTRAINT [FK_musteri_kayit_akaryakit1] FOREIGN KEY([kayit_kullanilacak_akaryakit])
REFERENCES [dbo].[akaryakit] ([akaryakit_id])
GO
ALTER TABLE [dbo].[musteri_kayit] CHECK CONSTRAINT [FK_musteri_kayit_akaryakit1]
GO
ALTER TABLE [dbo].[akaryakit]  WITH CHECK ADD  CONSTRAINT [CK_akaryakit_fiyat] CHECK  (([akaryakit_fiyat]>(0)))
GO
ALTER TABLE [dbo].[akaryakit] CHECK CONSTRAINT [CK_akaryakit_fiyat]
GO
USE [master]
GO
